<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Snippetbox</title>
</head>
<body>
    <header>
        <h1><a href="/">Snippetbox</a></h1>
    </header>
    <nav>
        <a href="/">Home</a>
    </nav>
    <main>
        <h2>Snippets recentes</h2>
        <p>Ainda não há nada para ver aqui!</p>
    </main>
</body>
</html>